{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.mts"],
      "extends": ["plugin:prettier/recommended"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "warn",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-non-null-assertion": "warn",
        "@typescript-eslint/promise-function-async": "off",
        "@typescript-eslint/no-namespace": "off",
        "no-undef": "off"
      }
    }
  ],
  "rules": {
    "prefer-promise-reject-errors": "off",
    "comma-dangle": "off",
    "space-before-function-paren": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/strict-boolean-expressions": "off"
  },
  "ignorePatterns": [
    "/bin/",
    "/lib/",
    "/typings/",
    "/docs/",
    "/test/",
    "/build/"
  ],
  "reportUnusedDisableDirectives": true,
  "plugins": ["ava"]
}
