{
  "extends": ["standard-with-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": "*.ts",
      "extends": ["plugin:prettier/recommended", "prettier/@typescript-eslint"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-non-null-assertion": "warn",
        "@typescript-eslint/promise-function-async": "off",
        "@typescript-eslint/strict-boolean-expressions": "warn"
      }
    }
  ],
  "plugins": ["ava"]
}
