name: Release

on:
  push:
    tags:
      - v5.*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - run : npm ci --ignore-scripts
    - run : npm run prepare
    - name: Publish to npm
      run : |
        npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
        npm publish --ignore-scripts
      env :
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        NPM_CONFIG_TAG: next
